[Unit]
Description=Django Admin daemon
After=network.target

[Service]
User=www
Group=www
WorkingDirectory=/root/td/tga/tga
Environment="PYTHONPATH=/root/td/tga"
ExecStart=/root/td/venv/bin/gunicorn --workers 2 --bind unix:/root/run/tgadmin.sock wsgi:application
Restart=on-failure

[Install]
WantedBy=multi-user.target
