[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/www/td/tga/tga
Environment="PYTHONPATH=/home/www/td/tga"
ExecStart=/home/www/td/venv/bin/gunicorn  --access-logfile - --workers 3 --bind=unix:/home/www/run/tgadmin.sock wsgi:application

[Install]
WantedBy=multi-user.target